body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hotels-header h2 {
  margin: auto;
  padding: 20px 0px 30px;
  text-align: center;
  font-weight: lighter;
}

.hotels-body {
  margin: auto;
  max-width: 90%;
}

.hotel-item {
  padding: 32px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.hotel-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
}

.hotel-description {
  text-transform: initial;
  font-size: 16px;
  width: 300px;
}

.hotel-telephone {
  font-size: 20px;
  font-weight: bold;
  width: 300px;
}

.hotel-stars {
  font-size: 16px;
  width: 100px;
}